@import url(https://fonts.googleapis.com/css?family=Pacifico);
@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans);

/* reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{margin:0;padding:0;}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;}
ul{list-style:none;}
table{border-collapse:collapse;border-spacing:0;}
caption,th{text-align:left;}
q:before,q:after{content:'';}
object,embed{vertical-align:top;}
legend{display:none;}
h1,h2,h3,h4,h5,h6{font-size:100%;}
img,abbr,acronym,fieldset{border:0;}

body{
	font: 14px/1.9 'Noto Sans JP', Arial, Verdana, 游ゴシック, YuGothic,'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', メイリオ, Meiryo,sans-serif;
	font-weight: 300;
	-webkit-text-size-adjust:100%;
	overflow-x: hidden;
	color: #000;
	background: #fff;
}

a{
	color: #0066ff;
	text-decoration: none;
}

a:hover, .active{
  
}

a:active, a:focus,input:active, input:focus{outline:0;}


/* ヘッダー
------------------------------------------------------------*/
#header{
	position: relative;
    overflow:hidden;
    width:100%;
	height:400px;
	background-color: crimson;
}

#header img{
    position:absolute;
    left:50%;
    width:1280px;
    height:568px;
    margin-left:-640px;
}

#slogan{
	position: absolute;
  top: 50%;
	width: 100%;
	-webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
	color: #fff;
	line-height: 1.2;
	text-align: center;
}

#slogan h1{
	font-size: 40px;
	font-family: 'Pacifico', cursive;
	margin-bottom: 20px;
	font-weight:normal;
}

#slogan h2{
	font-size: 20px;
	font-weight:normal;
}





/* 共通
------------------------------------------------------------*/
h1, h2{
	font-family: 'Josefin Sans', 'Noto Sans JP',serif;
}

img{
	width: 100%;
	height: auto;
}

section{clear:both;}

section h2{
	font-size: 22px;
	font-weight:normal;
	text-align: center;
}


/* UTinderとは
------------------------------------------------------------*/
#sec01{
	margin:0 auto;
	
}
.fortoudaisei {
 padding-top: 40px;
}
.fortoudaisei a{
	display: inline-block;
	height:30px;
	line-height: 30px;
	width: 200px;
	background-color: #000;
	color:white;
	border-radius: 10px;
	opacity:0.7;
}

.aboututinder{
	width: 60%;
	margin: 0 auto;
	padding-bottom: 40px;
	text-align: center;
	
}
.illustration {
	list-style: none;
	width:100%;
	margin-bottom:30px ;
	height:250px;
	padding-top:40px;
	border-bottom:1px solid slategray;
	
}
.illustration li{
	
	float: left;
}
.illustmain{
	width:28%;
}
.iconimg{
	width:40%;
}
.arrowimg{
	width:5%;
	padding-top:70px;
}




/* UTinderを始める
------------------------------------------------------------*/
#sec02{
	margin:0 auto;
}
.twoways{
	
	width: 60%;
	
	
	padding: 0 40px;
	text-align:center;
	clear: both;
	
	margin:0 auto;
	
}
.twoways h2{
	font-size:22px;
}
.explanation{
	
	padding:20px;
	margin:0 auto;
	

}
.twoways ul{
	display: flex;
	margin: 0 auto;
	
}
.twoways li{
	list-style: none;
	width:50%;
}

.startnow{
	padding:10px;
	
}
.startnow h2{
	
	text-decoration: underline cyan;
	
}
.condition{
	padding:10px;
	
}
.condition h2{
	
	text-decoration: underline  crimson;
}
.startnowimg{
	width:90%;
	
}
.conditionimg{
	width: 90%;
	
}




.email{
	width: 90%;
	margin-top:10px;
	margin-bottom: 10px;
	padding:5px;
	font-size: 18px;
	border:1px solid #dee7ec
}
.btn{
	
	height:50px;
	
	padding-bottom:4px;
	display:inline-block;
	border-radius: 6px;
	color :black;
	font-size:20px;
	font-weight: bold;
	
}
.btn:hover {
	opacity: 0.5;
}

.nowstart{
	width:200px;
	background-color: cyan;
	opacity: 1;
}
.conditionstart{
	width:200px;
	background-color: crimson;
	opacity: 1;
}



/* フッタ―設定----------------------------------------------*/
#footer{
	background-color:rgba(43, 41, 41, 0.671);
	height:120px;
	margin-top: 70px;
	text-align: center;
}
.footer a{
	color:black;
}
.footer h2{
	padding-bottom: 0;

}

/* RESPONSIVE 設定
------------------------------------------------------------*/

@media only screen and (min-width: 1200px){
	
	section h2{
		padding: 40px 0 20px;
	}
}

@media only screen and (min-width: 800px){
	body{
		font-size:14px;
	}
	
  a#menu{
		display:none;
	}	

	.panel{
		display:block !important;
	}

	#mainnav{
		position:fixed;
		top: 0;
		width:100%;
		z-index:500;
	}

	#mainnav ul{
		text-align: right;
		padding-right: 30px;
	}

	#mainnav li{
		display: inline-block;
		padding: 45px 10px 20px;
		font-size: 14px;
		font-weight: 300;
	}
	
  #mainnav a{
		color: #000;
	}
	
	#mainnav.changeNav{
		background: rgba(255,255,255,.9);
		border-bottom: 1px solid #d1d1d1;
	}
	
	#mainnav.changeNav li{
		padding: 20px 10px;
	}

	
  #footer{
		padding: 30px 10px 70px 0;
	}
}

@media only screen and (min-width: 641px){
	
	
}

@media only screen and (max-width: 640px){
	
	.twoways ul{
		display: flex;
		flex-wrap: wrap;
		
	}
	.twoways li{
		width:100%;
		margin:0 auto;
	}
	
}

@media only screen and (max-width: 799px){
	#slogan h1{
		font-size: 31px;
	}

	#slogan h2{
		font-size: 16px;
	}

  a#menu{
  	display: inline-block;
  	position: relative;
  	width: 40px;
  	height: 40px;
  	margin: 10px;
	}

	#menuBtn{
  	display: block;
  	position: absolute;
  	top: 50%;
  	left: 50%;
  	width: 18px;
  	height: 2px;
  	margin: -1px 0 0 -7px;
  	background: #fff;
  	transition: .2s;
	}

	#menuBtn:before, #menuBtn:after{
  	display: block;
  	content: "";
  	position: absolute;
  	top: 50%;
  	left: 0;
  	width: 18px;
  	height: 2px;
  	background: #fff;
  	transition: .3s;
	}

	#menuBtn:before{
  	margin-top: -7px;
	}

	#menuBtn:after{
  	margin-top: 5px;
	}

	a#menu .close{
  	background: transparent;
	}

	a#menu .close:before, a#menu .close:after{
  	margin-top: 0;
	}

	a#menu .close:before{
  	transform: rotate(-45deg);
  	-webkit-transform: rotate(-45deg);
	}

	a#menu .close:after{
  	transform: rotate(-135deg);
  	-webkit-transform: rotate(-135deg);
	}

	.panel{
		width: 100%;
		display: none;
		overflow: hidden;
		position: relative;
		left: 0;
		top: 0;
		z-index: 100;
	}

	#mainnav{
		position: absolute;
		top: 0;
		right: 0;
		width: 100%;
		text-align: right;
		z-index:500;
	}

	#mainnav ul{
		border-bottom: 1px solid #ccc;
		background: #fff;
		text-align: left;
	}

	#mainnav li a{
		position: relative;
		display:block;
		padding:15px 25px;
		border-bottom: 1px solid #ccc;
		color: #000;
		font-weight: 400;
	}

	#mainnav li a:before{
		display: block;
		content: "";
		position: absolute;
		top: 50%;
		left: 5px;
		width: 6px;
		height: 6px;
		margin: -4px 0 0 0;
		border-top: solid 2px #000;
		border-right: solid 2px #000;
		-webkit-transform: rotate(45deg);
		transform: rotate(45deg);
	}
	
	
}


@media only screen and (max-width: 1199px){
	section h2{
		padding: 0px 0 20px 0;
	}
	#sec01 h2{
		padding: 70px 0 20px;
	}
}
